*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    background-color: yellow;
}

@font-face {
    font-family: simpson;
    src: url('./font/demo.otf');
}

#content{
    display: flex;
    flex-direction: column;
    background-color: pink;
    min-height: 100vh;
}

.title{
    font-size: 56px;
    color: yellow;
    -webkit-text-stroke: 2px red;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid red;
    padding: 5px;
    margin: 1rem;
    font-family: simpson, Georgia, serif ;
}
.nav{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    background-image: url("./sprinklesfall.gif");
    background-repeat: circle;
   
    border: 3px solid red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.donut{
    font-family: simpson;
    width: 150px;
    background-color: rgb(241, 216, 171);
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: red 0px 2px 4px 0px inset;
    color: lightblue;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px black;
    font-size: 34px;
    padding: 4px;
    text-align: center;
}
.donut-img{
    cursor: pointer;
    width: 135px;
    height: 135px;
}

.donut-img:hover{
    transform: scale(1.5); 
    transition: .4s ease-out; 
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: 2px solid red;
   min-height: 75vh;
}

.leftHome{
    background-image: url('./homer.jpeg');
    background-size: cover;
    border-right-color: black;
    width: 55vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.about, .hours{
    font-size: 34px;
    font-family: simpson, Georgia;
    color: yellow;
    -webkit-text-stroke: 2px red;
    margin-right: 5px;

}

.aboutText{
    width: 41vw;
    margin-top: 10px;
    font-size: 24px;
    color: yellow;
    -webkit-text-stroke: .2px black;
    line-height: 1.5em;
}

.orderButton, form button{
    justify-self: center;
    font-family: simpson;
    width: 300px;
    margin: 20px;
    margin-left: 80px;
    background-color: rgb(241, 216, 171);
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: red 0px 2px 4px 0px inset;
    color: lightblue;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px black;
    font-size: 34px;
    padding: 4px;
    text-align: center;
    
}

.schedule{
    font-size: 24px;
    margin-top: 10px;
    color: yellow;
    -webkit-text-stroke: .2px black;
    list-style: none;
}

.footer{
    font-family: simpson;
    height: 55px;
    padding: 5px;
    color: yellow;
    -webkit-text-stroke: .2px black;
    background-color: lightblue;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}




#grid-container{
    display: grid;
    grid-template-columns: repeat(2, .3fr);
    margin-top: 15px;
    margin-bottom: 15px;
    /*grid-template-rows: repeat(4, 1);*/
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

}

.grid-cell{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 2px solid red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 17%;
    font-family: simpson;
    color: yellow;
    font-size: 20px;
    padding-top: 15px;
    -webkit-text-stroke: 1px red;

  

}

.grid-cell img{
    height: 150px;
    width: 150px;
    
}

#cell-8 img{
    height: 200px;
    width: 250px;
    
}

.contactTitle{
    font-size: 36px;
    font-family: simpson;
    text-align: center;
    color: red;
}

.contactContainer{
    margin-top: 25px;
    display: flex;
    flex: 1;
    font-family: simpson;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 30px;
    gap: 10px;
    font-family: simpson;
    color: red;
}

form div{
    display: flex;
}


form input, textarea{
    border: 2px solid red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

